.modal-backdrop {
    z-index: -1;
  }
#aboutmodal{
    background: var(--background-background-state-light-overlay, rgba(255, 255, 255, 0.383));
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    text-align: center;
}
#aboutmodalheader{
    text-align: center;
    display: inline;
    border-bottom: none;
}
#aboutmodalheaderlabel{
    color: #3A0CA3;
    font-family: 'Uber Move';
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    margin-top: 0.5vh;
}
#aboutmodaldialog{
    display: flex;
}
#aboutmodalcontent{
    height: fit-content;
    padding: 25px;
    border-radius: 16px;
}
#aboutmodalclosebtn{
    position: fixed;
    margin-top: -90px;
    margin-left: 200px;
    border: 2px solid;
    border-radius: 40px;
    padding: 10px;
    font-size: 10px;
    width: 3px;
    height: 3px;
}

